
<h4>.</h4>
<h3>.</h3>
<div class="col text-uppercase text-center">
  <h2>catálogo de diferentes modelos y marcas en motocicletas</h2>
</div>
<div class="col text-center">
  Por la compra de cualquier motocicleta en nuestra página web recibira un descuento del 10%
</div>
<div class="col text-center">
  Y por la compra de una motocicleta de modelo exclusivo en nuestra página web recibira un descuento del 15%
</div>
<div class="container">
    <div class="row ">
      <div class="row row-cols-1 row-cols-md-4 g-4 h-100 d-flex align-items-center justify-content-center">
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/2021-03/SUZUKI%20NEW%20BEST%20125%20NEGRA-min.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">NEW BEST 125 FI</h4>
              <p class="card-text">Precio: Bs 60.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2021-11/Hayabusa%20blanca.png?itok=licNo8rI" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">HAYABUSA</h4>
              <p class="card-text">Precio: Bs 60.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2019-11/GSX-S-750.png?itok=F5srnWyZ" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">GSX-S750A</h4>
              <p class="card-text">Precio: $u$ 15.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2021-09/GSX-R1000R%20603%20x%20343.png?itok=4ZFYv6FU" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">GSX-R 1000R</h4>
              <p class="card-text">Precio: $u$ 12.500</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2022-08/gsx-r150negra.png?itok=MxTnYrug" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">GSX-R150 ABS</h4>
              <p class="card-text">Precio: U$S 8.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2019-08/V-STROM%20250%202018%20NEGRO%20AMARILLO%20.png?itok=eR8MAx0n" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">V-STROM 250</h4>
              <p class="card-text">Precio: $u$ 23.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2021-03/STYLE%20BLANCA.png?itok=jzmBdzHU" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">VIVA R STYLE EURO 3</h4>
              <p class="card-text">Precio: $u$ 8.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2021-03/Amarillo%20Negro.png?itok=y615QMH9" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">DR150</h4>
              <p class="card-text">Precio: $u$ 12.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://suzuki.com.co/sites/default/files/styles/moto_descripcion/public/2022-11/intruder-negra-1385-X-800.png?itok=hvrBmIbz" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">INTRUDER</h4>
              <p class="card-text">Precio: $u$ 315.000</p>
              <p class="card-text">Marca: Suzuki 2022</p>
              <h5 class="card-date">Publicado el 20/04/2022</h5>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br>

